<div class="body-wrap masonry-container">
    <div id="st-container" class="st-container">

        <nav class="st-menu st-effect-1" id="menu-1">
    <div class="st-profile">
        <div class="st-profile-user-wrapper">
            <div class="profile-user-image">
            <img src="<%= image_path("person-1.jpg")%>" class="img-circle" /> 
            </div>
            <div class="profile-user-info">
                <span class="profile-user-name">Bertram Ozzie</span>
                <span class="profile-user-email">username@example.com</span>
            </div>
        </div>
    </div>

    <div class="st-menu-list mt-2">
        <ul>
            <li>
                <a href="#">
                    <i class="ion-ios-bookmarks-outline"></i> Theme documentation
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ion-ios-cart-outline"></i> Purchase Tribus
                </a>
            </li>
        </ul>
    </div>

    <h3 class="st-menu-title">Account</h3>
    <div class="st-menu-list">
        <ul>
            <li>
                <a href="#">
                    <i class="ion-ios-person-outline"></i> User profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ion-ios-location-outline"></i> My addresses
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ion-card"></i> My cards
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ion-ios-unlocked-outline"></i> Password update
                </a>
            </li>
        </ul>
    </div>

    <h3 class="st-menu-title">Support center</h3>
    <div class="st-menu-list">
        <ul>
            <li>
                <a href="#">
                    <i class="ion-ios-information-outline"></i> About Tribus
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="ion-ios-email-outline"></i> Contact &amp; support
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-camera"></i> Getting started
                </a>
            </li>
        </ul>
    </div>
</nav>

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <!-- Header -->
                    <div class="header">
    <!-- Top Bar -->
    
    <!-- Global Search -->
    <section id="sctGlobalSearch" class="global-search global-search-overlay">
    <div class="container">
        <div class="global-search-backdrop mask-dark--style-2"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search z-depth-2-top" role="form">
            <div class="px-4">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </div>
            <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
        </form>
    </div>
</section>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
                        <a class="navbar-brand" href="../../index.html">
                <img src="<%= image_path("logo-1-a.png")%>" class="d-none d-lg-inline-block" alt="Boomerang">
                <img src="<%= image_path("logo-1-a.png")%>" class="d-lg-none" alt="Boomerang">            </a>
            
            <div class="d-inline-block">
                <!-- Navbar toggler  -->
                <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>

            <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
    <!-- Navbar search - For small resolutions -->
    <div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
        <form class="" role="form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-base-3" type="button">Go!</button>
                </span>
            </div>
        </form>
    </div>

    <!-- Navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown megamenu">
            <a class="nav-link" href="https://www.thehackingproject.org/faq">
               <h5 style="color:grey;"> Vous avez des questions ?</h5> 
            </a>
        </li>
         <li class="nav-item dropdown megamenu">
            <a class="nav-link" href="/index"  >
               <h5 style="color:grey;">  Do you speak English ? </h5> 
            </a>
           
        </li>
         <li class="nav-item dropdown megamenu">
            <a class="nav-link" href="/marseille"  >
                <h5 style="color:grey;"> Vous habitez à Marseille ? </h5> 
            </a>
           
        </li>
        <li class="nav-item dropdown megamenu">
            <a class="nav-link" href="https://www.thehackingproject.org/contact">
                Contact
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
            <a href="../../documentation/getting-started/introduction.html" class="nav-link">
               Log In
            </a>
        </li>
    </ul>
</div>


<div class="pl-4 d-none d-lg-inline-block">
    <a href="https://www.thehackingproject.org/" class="btn btn-styled btn-sm btn-white btn-outline text-uppercase btn-circle" target="_blank">
        SIGN UP NOW ! 
            </a>
</div>
        </div>
    </nav>
</div>

                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset="" style="height: 641px;">
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="fade" data-swiper-items="1" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="8000">
                                    <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url(<%=image_path("img-3.png")%>); background-position: bottom center">
                                        <div class="container d-flex align-items-center">
                                            <div class="col">
                                                <div class="row text-center">
                                                    <div class="col-12">
                                                        <h2 class="heading heading-xxl strong-600 text-uppercase animated" data-animation-in="fadeInDownBig" data-animation-delay="200">
                                                            <h1 style="color:grey; position: right;">                  THE HACKING PROJECT </h1>
                                                        </h2>
                                                        <p class="lead animated" data-animation-in="fadeInUpBig" data-animation-delay="200">
                                                            <h5 style="color:grey;"> Apprenez a coder gratuitement en 3 mois </h5>
                                                        </p>

                                                        <a href="#" data-scroll-to="#scrollToSection" class="btn btn-styled btn-lg btn-white btn-circle btn-outline mt-5 animated" data-animation-in="fadeInUpBig" data-animation-delay="1000">
                                                            <h5 style="color:grey;"> Pour en savoir plus  </h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
 <section>
                    <!-- Begin MailChimp Signup Form -->
                    
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#white; overflow:hidden; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=3328fb55b4411b0aadaa63670&amp;id=2eb741a32e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                        <label style="color: Black" for="mce-EMAIL">Recevez notre  newslette </label>

                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3328fb55b4411b0aadaa63670_2eb741a32e" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
                    </section>
                    <section style="background:white;" class="slice bg-black" id="scrollToSection">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    <span>  <h1 style="color:brown; position: right;">                  Avec des nouveles methodes basées sur le peer learning apprenez a coder et changez votre vie ! </h1>
                                                        </h2> </span>
                                </h3>
                            </div>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-lighter strong-300 text-center">
                                <p>
                                    <h6 style="color:brown; position: right;">                  The Hacking Project est une jeune pousse qui souhaite apporter à tous les compétences necessaires pour le monde de demain.  </h6>

                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src="<%= image_path("img-3.jpg")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> <h2 style="color:brown; position: right;">                Une formation à la carte </h2></a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">    Nos formations se déroulent du lundi au vendredi de 9h à 20h pendant 2 mois 1/2. Chez nous, pas de professeurs, pas de locaux. </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("img-2.png")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner py-4 animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white">  <h2 style="color:brown; position: right;"> Travaillez en equipe</h2></a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">   L'intensité et le rythme de la formation favorise l'esprit de groupe. Vous allez lier des liens forts  </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="block block-image-holder animate-this animate--hover-zoom">
                                        <div class="block-image">
                                            <a href="#">
                                                <img src= "<%= image_path("about-us-wide-1.jpg")%>"
                                            </a>
                                        </div>
                                        <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient overflow-visible">
                                            <div class="block-info-inner animate-translate--up">
                                                <div class="text-center">
                                                    <a href="#" class="heading heading-4 strong-500 mb-0 c-white"> <h1 style="color:brown; position: right;">   Ne perdez pas de temps </h1> </a>
                                                    <span class="clearfix"></span>
                                                    <small class="text-uppercase c-white">Top chrono 3 mois pour developper la base du develeppement web </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="https://www.thehackingproject.org/modalites" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                    Pour en savoir plus
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>

                    <section style="background:white;" class="slice bg-black">
                        <div class="container">
                            <div class="section-title section-title--style-1 text-center mb-4">
                                <h3 class="section-title-inner heading-2 c-white text-normal">
                                    <span> <h1 style="color:brown; position: right;"> 12 semaines - 500 de code </h1>  </span>
                                </h3>
                            </div>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-lighter strong-300 text-center">
                                <p> <h4 style="color:brown; position: right;"> Apprenez  toute les bases du web. 
                                    <ol>
                                        <li> Ruby and coding basics </li>
                                        <li> Software Engineering </li>
                                        <li> Database & SQL </li>
                                        <li> Front-end </li>
                                        <li> Rails </li>
                                        <li> Project.. </li>
                                    </ol></h4> 
                                </p>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="row cols-md-space cols-sm-space cols-xs-space">
                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                                <a href="https://www.thehackingproject.org/modalites">
                                                    <img src="<%= image_path("person-1.jpg")%>"
                                                </a>
                                            </div>

                                            <div class="text-center pt-4">
                                                <span class="heading c-gray-light heading-sm text-uppercase strong-300"> MAY 17, 2018</span>
                                                <h3 class="heading heading-4 c-white strong-400 mt-2"><h5 style="color:brown; position: right;"> Appiquez pour le programme FullStack  </h5> </h3>
                                                <p class="mt-3 c-white px-5">
                                                    <h6 style="color:brown; position: right;"> Et changez de vie </h6>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="px-4">
                                        <div class="block block-image-holder image-animate-wrapper">
                                            <div class="block-image image-animate--hover">
                                                <a href="#">
                                                    <iframe width="640" height="360" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="380" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </a>
                                            </div>

                                            <div class="text-center pt-4">
                                                <span class="heading heading-sm c-gray-light text-uppercase strong-300">Sep 30, 2018</span>
                                                <h3 class="heading heading-4 c-white strong-400 mt-2"><h5 style="color:brown; position: right;"> Alumini  </h5> </h3>
                                                <p class="mt-3 c-white px-5"><h6 style="color:brown; position: right;"> déja 300 anciens eleves qui partages les meme compétences et passion.  </h6>
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="space-xs-xl"></span>

                            <div class="text-center">
                                <a href="https://www.thehackingproject.org/temoignages" class="link link-sm link--style-2 text-upeprcase text-uppercase strong-600">
                                   <h1 style="color:brown; position: right;"> Touss les articles  </h1> 
                                    <i class="ion-ios-arrow-right ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </section>

                    <!-- FOOTER -->
                    <footer style="background:white;" id="footer" class="footer">
    <div class="footer-bottom bg-black py-3">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-md-7 col-12">
                    <div class="text-xs-center text-sm-left">
                        <ul class="footer-menu">
                            <li>
                                <a href="#" style="padding-left: 0;">Home</a>
                            </li>
                            <li>
                                <a href="https://www.thehackingproject.org/about">About us</a>
                            </li>
                            <li>
                                <a href="https://www.thehackingproject.org/peer-learning">Services</a>
                            </li>
                        </ul>

                        <div class="copyright mt-1">
                            <ul class="copy-links">
                                <li>
                                    &copy; 2018 Webpixels
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/pg/thehackingproject/videos/?ref=page_internal">Vidéos</a>
                                </li>
                                <li>
                                    <a href="https://herokuapp.us18.list-manage.com/unsubscribe?u=3328fb55b4411b0aadaa63670&id=2eb741a32e">Se désinscrire</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="text-xs-center text-sm-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/thehackingproject/" class="facebook" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dribbble" target="<%= image_path("facebook.png")%>" data-toggle="tooltip" data-original-title="Github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div>
</div><!-- END: body-wrap -->
